@model Student

<h1>Create Student Form</h1>


<form method="post" asp-action="CreateStudent" asp-controller="Student" enctype="multipart/form-data">

    <!--The Partial is to make the code more DRY (reuse of code).
    You can also pass a model along in the parameter to the partial (in case of e.g. foreach) --> 
    @await Html.PartialAsync("_CreateEditStudentPartial")
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>
