@model Student

<h1>Edit student page</h1>
<form method="post" asp-action="EditStudent" asp-controller="Student">
    <input type="hidden" asp-for="@Model.Id" />
    <!--The Partial is to make the code more DRY (reuse of code).
        You can also pass a model along in the parameter to the partial (in case of e.g. foreach) --> 
    @await Html.PartialAsync("_CreateEditStudentPartial")
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
</form>
